USE [master]
GO
/****** Object:  Database [PVVSS_BSMS]    Script Date: 11/01/2026 23:07:12 ******/
CREATE DATABASE [PVVSS_BSMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PVVSS_BSMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PVVSS_BSMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PVVSS_BSMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PVVSS_BSMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PVVSS_BSMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PVVSS_BSMS]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerEmail] [nvarchar](255) NOT NULL,
	[BarberEmail] [nvarchar](255) NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[ServiceType] [nvarchar](100) NOT NULL,
	[Status] [int] NOT NULL,
	[BarberName] [nvarchar](200) NULL,
	[ClientName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barbers]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barbers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [int] NOT NULL,
	[Specialisation] [nvarchar](200) NOT NULL,
	[Salary] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewId] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentId] [int] NOT NULL,
	[ClientEmail] [nvarchar](255) NOT NULL,
	[BarberEmail] [nvarchar](255) NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[DatePosted] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Barbers] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Barbers] ADD  DEFAULT ((1)) FOR [Role]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Clients] ADD  DEFAULT ((2)) FOR [Role]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [DatePosted]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_BarberEmail] FOREIGN KEY([BarberEmail])
REFERENCES [dbo].[Barbers] ([Email])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_BarberEmail]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_ClientEmail] FOREIGN KEY([CustomerEmail])
REFERENCES [dbo].[Clients] ([Email])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_ClientEmail]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Appointments] FOREIGN KEY([AppointmentId])
REFERENCES [dbo].[Appointments] ([AppointmentID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Appointments]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Rating_Range] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Rating_Range]
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAppointment]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Delete Appointment
CREATE   PROCEDURE [dbo].[sp_DeleteAppointment]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM Appointments WHERE AppointmentID = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteBarber]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteBarber]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Barbers
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteClient]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_DeleteClient]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Clients
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAppointmentById]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Get Appointment By ID
-- Folosită pentru validări (ex: la adăugarea unui review)
CREATE   PROCEDURE [dbo].[sp_GetAppointmentById]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Appointments WHERE AppointmentID = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAppointmentsByBarber]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Get Appointments for Barber
-- Face JOIN cu tabela Clients pentru a afișa numele clientului
CREATE   PROCEDURE [dbo].[sp_GetAppointmentsByBarber]
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.AppointmentID, 
        a.AppointmentDate, 
        a.ServiceType, 
        a.Status, 
        a.BarberEmail, 
        a.CustomerEmail,
        c.FirstName + ' ' + c.LastName as ClientName
    FROM Appointments a
    JOIN Clients c ON a.CustomerEmail = c.Email
    WHERE a.BarberEmail = @Email
    ORDER BY a.AppointmentDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAppointmentsByClient]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Get Appointments for Client
-- Face JOIN cu tabela Barbers pentru a afișa numele frizerului
CREATE   PROCEDURE [dbo].[sp_GetAppointmentsByClient]
    @Email NVARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        a.AppointmentID, 
        a.AppointmentDate, 
        a.ServiceType, 
        a.Status, 
        a.BarberEmail, 
        a.CustomerEmail,
        b.FirstName + ' ' + b.LastName as BarberName
    FROM Appointments a
    JOIN Barbers b ON a.BarberEmail = b.Email
    WHERE a.CustomerEmail = @Email
    ORDER BY a.AppointmentDate DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetBarberByEmail]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetBarberByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        FirstName,
        LastName,
        Email,
        PhoneNumber,
        PasswordHash,
        IsActive,
        Specialisation,
        Salary
    FROM Barbers
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetClientByEmail]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_GetClientByEmail]
    @Email NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        FirstName,
        LastName,
        Email,
        PhoneNumber,
        PasswordHash,
        IsActive
    FROM Clients
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAppointment]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 1. Insert Appointment
-- Returnează ID-ul noii programări
CREATE   PROCEDURE [dbo].[sp_InsertAppointment]
    @CustomerEmail NVARCHAR(200),
    @BarberEmail NVARCHAR(200),
    @AppointmentDate DATETIME,
    @ServiceType NVARCHAR(100),
    @Status INT
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Appointments (CustomerEmail, BarberEmail, AppointmentDate, ServiceType, Status)
    VALUES (@CustomerEmail, @BarberEmail, @AppointmentDate, @ServiceType, @Status);
    
    -- Returnează ID-ul generat (IDENTITY)
    SELECT CAST(SCOPE_IDENTITY() AS INT);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertBarber]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_InsertBarber]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(255),
    @PhoneNumber NVARCHAR(50),
    @PasswordHash NVARCHAR(MAX),
    @IsActive BIT,
    @Specialisation NVARCHAR(100),
    @Salary DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Barbers (
        FirstName, 
        LastName, 
        Email, 
        PhoneNumber, 
        PasswordHash, 
        IsActive, 
        Specialisation, 
        Salary
    )
    VALUES (
        @FirstName, 
        @LastName, 
        @Email, 
        @PhoneNumber, 
        @PasswordHash, 
        @IsActive, 
        @Specialisation, 
        @Salary
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertClient]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertClient]
    @FirstName NVARCHAR(100),
    @LastName NVARCHAR(100),
    @Email NVARCHAR(255),
    @PhoneNumber NVARCHAR(50),
    @PasswordHash NVARCHAR(MAX),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Clients (
        FirstName, 
        LastName, 
        Email, 
        PhoneNumber, 
        PasswordHash, 
        IsActive
    )
    VALUES (
        @FirstName, 
        @LastName, 
        @Email, 
        @PhoneNumber, 
        @PasswordHash, 
        @IsActive
    );
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBarberStatus]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateBarberStatus]
    @Email NVARCHAR(255),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Barbers
    SET IsActive = @IsActive
    WHERE Email = @Email;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateClientStatus]    Script Date: 11/01/2026 23:07:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_UpdateClientStatus]
    @Email NVARCHAR(255),
    @IsActive BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE Clients
    SET IsActive = @IsActive
    WHERE Email = @Email;
END

GO
USE [master]
GO
